# Compiled binaries
weather_app
*.exe
*.out

# Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Editor and IDE files
*.swp
*.swo
*~
.vscode/
.idea/
*.code-workspace

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
